{% extends "base_layout.html" %}

{% block title %}
Home
{% endblock %}

{% block stylesheet %} 
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css')}}" /> -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="">
<meta name="description" content="">

<link rel="stylesheet" href="../static/homepage/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/homepage/css/templatemo-style.css">
<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600,700' rel='stylesheet' type='text/css'>
{% endblock %}
{% block content %}
<body data-spy="scroll" data-target="#rock-navigation">
	<!-- START HOME -->
	<section id="home" class="templatemo-home">
		<div class="container home-container">
			<div class="row">
				<h1  class="tm-home-title"><strong>Welcome to Focuz!</strong></h1>
				<h2  class="tm-home-subtitle">@{{user_username}}</h2>
			</div>
			<div class="row">
				<div class="col col-6" style="text-align: right;padding-right: 50px;">
					<form action="/focuz"  method="get"> <form action="/showmsg" method="get" >
						<button onclick="myFunc()"class="btn btn-default smoothScroll tm-view-more-btn" >FOCUZ</button>
					</form>
				</div>
				<div class="col col-6">
					<form action="/stop" method="get" style="text-align: left;padding-left: 50px;"> 
						<button onclick = "stop_msg({{int_focused_time}},{{int_not_focused_time}})" class="btn btn-default smoothScroll tm-view-more-btn" >STOP</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- END HOME -->

	
	<script src="../static/homepage/js/jquery.js"></script>
	<script src="../static/homepage/js/bootstrap.min.js"></script>
	<script src="../static/homepage/js/smoothscroll.js"></script>
	<script src="../static/homepage/js/jquery.nav.js"></script>
	<script src="../static/homepage/js/isotope.js"></script>
	<script src="../static/homepage/js/imagesloaded.min.js"></script>
	<script src="../static/homepage/js/custom.js"></script>

  <script>function myFunc(){
    window.alert("You have started FOCUZ");
  }</script>

  <script>
    function stop_msg(int_focused_time,int_not_focused_time){
      window.alert(
      "You have stopped FOCUZ \n You have focused " + int_focused_time + " seconds \n You have not focused " + int_not_focused_time +" seconds")
    }
  </script>
</body>


{% endblock %}
