{% extends "base_layout.html" %}
{% block title %}
Settings
{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='setting.css')}}" />
{% endblock %}
{% block content %}
<div class="container">
    <div class="main-body">  
          <h3>Settings</h3>
          <!-- USER ICON -->
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <!-- not yet link to user icon -->
                    <img src="../static/Assets/user_icons/demo.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{username}}</h4>
                      <p class="text-secondary mb-1">Title</p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- ACHIEVEMENTS -->
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h4 style="padding-bottom: 20px;" class="mb-0">Achievements</h4>
                      </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">Total Focus Time (hours)</h6>
                    <span class="text-secondary">{{int_time}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">Logged On Days</h6>
                    <span class="text-secondary">{{days_ago}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">Class</h6>
                    <span class="text-secondary">0</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">Puzzles Completed</h6>
                    <span class="text-secondary">0</span>
                  </li>
                </ul>
              </div>
            </div>
            <!-- CHANGE SETTINGS -->
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="user-info-card card-body">
                  <h4 style="margin-bottom: 30px;">User Info</h4>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">User Name</h6>
                    </div>
                    <span class="text-secondary">{{username}}</span>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <span class="text-secondary">{{email}}</span>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Password</h6>
                    </div>
                    <span class="text-secondary">{{password}}</span>
                  </div>
                  <hr>
                </div>
              </div>

              <!-- WEBSITES -->
              <div class="row" style="margin-bottom: 1em; --bs-gutter-x: 0em;">
                <div class="card h-100">
                    <div class="card-body">  
                      <form action="/setting/" method="POST">
                        <h4>Add to Blocked website</h4>
                        <div class="row" style="margin-bottom: 20px;">
                          <div class="col-md-9">
                              <input style="width:100%;" name = "website" class="form-control" type="text" id="website" placeholder="Input Website You Would Like to Block When Focusing" >
                          </div>
                          <div class="col-md-3">
                              <button style="width:100%;" name = "add_website" class="btn btn-style-1 btn-primary" type="submit" value="block">Add Website</button>     
                          </div>             
                        </div>
                      </form>
                    </div>
                </div>                  
              </div> 

            <!-- LIST -->
            <div class="row" style="margin-bottom: 30px; --bs-gutter-x: 0em;">
              <div class="card h-100">
                  <div class="card-body">
                      <div class="website-blocked-list">
                          <h4 style="margin-bottom: 20px;">List of Blocked Website</h4>
                          {% for url in website %}
                          <form action = "/setting/" method = "POST">
                            <div class="website-list-item w-100">
                                <span>&#8226; {{url}}</span>
                                <input style="display: none;" name="url" value="{{url}}">
                                <button  class="btn btn-style-1 btn-primary" margin = 100px type ="submit" name = "add_website" value = "unblock_one">Unblock</button><br/>
                            </div>
                          </form>
                          {% endfor %}                                                
                      </div>
                      <form action = "/setting/" method = "POST">
                        <span width = 500><button  name = "add_website" class="btn btn-style-1 btn-primary" style="margin-top: 12px;" type="submit" value="unblock_all">Unblock All</button></span>
                      </form>
                  </div>
              </div>                  
            </div>           
        </div>
    </div>
</div>
{% endblock %}