{% extends "base_layout.html" %}
{% block title %}
Settings
{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='setting.css')}}" />
{% endblock %}
{% block content %}
<div class="container">
    <div class="main-body">  
          <h3>Settings</h3>
          <!-- USER ICON -->
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <!-- not yet link to user icon -->
                    <img src="../static/Assets/user_icons/demo.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{username}}</h4>
                      <p class="text-secondary mb-1">Title</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- CHANGE SETTINGS -->
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="user-info-card card-body">
                  <h4 style="margin-bottom: 30px;">User Info</h4>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">User Name</h6>
                    </div>
                    <span class="text-secondary">{{username}}</span>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <span class="text-secondary">{{email}}</span>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Password</h6>
                    </div>
                    <span class="text-secondary">{{password}}</span>
                  </div>
                  <hr>
                </div>
              </div>

              <!-- CSV -->
              <div class="row" style="margin-bottom: 1em; --bs-gutter-x: 0em;">
                <div class="card h-100">
                    <div class="card-body">  
                      <form action="/setting/" method="POST">
                        <h4>Input csv file</h4>
                        <div class="row" style="margin-bottom: 20px;">
                          <div class="col-md-9">
                              <input type="file" style="width:100%;" name = "csv" class="form-control" id="csv" accept=".csv, .txt">
                          </div>
                          <div class="col-md-3">
                              <button style="width:100%;" name = "insert_csv" class="btn btn-style-1 btn-primary" type="submit" value="nothing">Submit</button>
                          </div>             
                        </div>
                      </form>
                    </div>
                </div>                  
              </div>        
        </div>
    </div>
</div>
{% endblock %}