<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metas -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ichack23"/>
    <!-- Links -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/../static/unloggedin/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/unloggedin/css/icofont.min.css">
    <link href="../static/unloggedin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/unloggedin/css/slick.css" rel="stylesheet" />
    <link href="../static/unloggedin/css/main.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" href="../static/Assets/icons/favicon.png"/>
    <!-- Document Title -->
    <title>ichack23</title>
</head>
<body>

  <!-- HEADER SECTION -->  
  <header id="home";>
    <div class="bgig" style = "background-image: url('../static/unloggedin/images/SusDev.jpeg')";>
    </div>

    <div class="container unloggedin-header" style="padding-top: 15px">
      <nav class="navbar">
        <ul class="nav-item">
          <!-- Nav Link -->
          <a class="nav-link" href="/">Home</a>
        </ul>
        <ul class="nav-item">
          <!-- Nav Link -->
          <a class="nav-link" href="/aboutus/">About Us</a>
        </ul>
        <ul class="nav-item">
          <!-- Nav Link -->
          <a class="nav-link" href="/benefits/">How You Benefit</a>
        </ul>
        <ul class="nav-item">
          <!-- Nav Link -->
          <a class="nav-link" href="/dashboard/">Dashboard</a>
        </ul>
      </nav>
    </div>
    <!-- HERO SECTION -->    
    <div class="container" style="min-height: 550px;";>
      <div class="container" style="padding-top: 100px;">
        <!-- Hero Title -->
        <h1 style = "color: #77c2d4; opacity: 0.8;">Sustainability meter</h1>
        <!-- Hero Title Info -->
        <p style="padding-bottom: 50px; color: white;">Check how your sustainability rating compares to the market average.
          <br> Let us help you on your green journey.</p>
        <div class="hero-btns">
          <!-- Hero Btn Second -->
          <a href="/login/" style = "color: lightgrey;">Sign Up / Log In</a>
        </div>
      </div>
    </div>
  </header>

  <!-- FOOTER SECTION -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h6>© 2023 - ichack23</h6>
          <ul class="social">
            <li><a href="#"><i class="icofont-facebook"></i></a></li>
            <li><a href="#"><i class="icofont-twitter"></i></a></li>
            <li><a href="#"><i class="icofont-dribbble"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="../static/unloggedin/js/bootstrap.min.js"></script>
  <script src="../static/unloggedin/js/slick.min.js"></script>
  <script src="../static/unloggedin/js/smooth-scroll.min.js"></script>
  <script src="../static/unloggedin/js/main.js"></script>
</body>
</html>