/* button */

  .wrap {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button1 {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #fefefe;
    background: #39ed72;
  background: linear-gradient(90deg, rgb(29, 218, 114) 0%, rgb(40, 244, 132) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  .button1::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #ffffff;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #38e98e;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  .button1::after, button:focus::after {
    animation: none;
    display: none;
  }

  /* button2 */

  .button2 {
    margin-top: 100px;
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: black;
    background: rgba(230, 230, 78, 0.906);
  background: linear-gradient(90deg, rgba(230, 230, 78, 0.906) 0%, rgb(243, 255, 5) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(255, 255, 255, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  .button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #ffffff;
    box-shadow: 0 0 60px rgba(230, 230, 78, 0.906);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  /* button3*/
  .button3 {
    margin-bottom: 30px;
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: white;
    background: rgba(233, 92, 67, 0.906);
  background: linear-gradient(90deg, rgba(230, 106, 78, 0.906) 0%, rgb(243, 9, 9) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(255, 255, 255, 0.68);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  .button3::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #ffffff;
    box-shadow: 0 0 60px rgba(232, 81, 70, 0.906);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }

  /* stopmsg */
#stopmsg{
  width: 100%;
  height: 50px;
  background-color: lightgray;
  color: black;
  font-size: medium;
  padding-top: 12px; 
  text-align: center;

}
/* #startmsg{
  width: 100%;
  height: 50px;
  background-color: rgb(51, 254, 68);
  color: white;
  padding-top: 50px; 
  text-align: center;

} */
/* msgcon */


#msgcontainer{
  display: grid;
  grid-template-columns: auto ;
  grid-template-rows: auto;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.687), rgba(255, 255, 255, 0.803)),url("Assets/homephoto/images/pexels-ylanite-koppens-796602.jpg");
  min-height: auto;
  margin-bottom: 50px;
}



/* org */
.test
{
    color: red;
}
.u-section-1 {
    background-image: none;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 697px;
    margin: 0 auto;
  }
  
  .u-section-1 .u-image-1 {
    width: 719px;
    height: 511px;
    margin: 58px 0 0 auto;
  }
  
  .u-section-1 .u-shape-1 {
    width: 489px;
    height: 536px;
    background-image: none;
    margin: -441px auto 0 81px;
  }
  
  .u-section-1 .u-group-1 {
    width: 462px;
    min-height: 172px;
    margin: -597px auto 0 81px;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .u-section-1 .u-text-1 {
    font-style: italic;
    font-weight: 400;
    margin: 20px 0;
  }
  
  .u-section-1 .u-image-2 {
    width: 290px;
    height: 332px;
    object-position: 50% 0%;
    background-position: 50% 0%;
    margin: -331px 0 0 auto;
  }
  
  .u-section-1 .u-image-3 {
    height: 332px;
    object-position: 52.16% 0%;
    background-position: 52.16% 0%;
    width: 357px;
    margin: -331px auto 0 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 736px;
    }
  
    .u-section-1 .u-image-1 {
      width: 593px;
      height: 300px;
      margin-top: 130px;
    }
  
    .u-section-1 .u-shape-1 {
      width: 392px;
      height: 661px;
      margin-top: -578px;
      margin-left: 67px;
    }
  
    .u-section-1 .u-group-1 {
      width: 470px;
      margin-top: -648px;
      margin-bottom: 497px;
      margin-left: 82px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 16px;
      padding-right: 16px;
    }
  
    .u-section-1 .u-text-1 {
      font-weight: 300;
    }
  
    .u-section-1 .u-image-2 {
      width: 239px;
    }
  
    .u-section-1 .u-image-3 {
      width: 294px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 650px;
    }
  
    .u-section-1 .u-image-1 {
      width: 418px;
      height: 353px;
      margin-top: 122px;
    }
  
    .u-section-1 .u-shape-1 {
      width: 348px;
      height: 557px;
      margin-top: -403px;
      margin-left: 51px;
    }
  
    .u-section-1 .u-group-1 {
      width: 360px;
      margin-top: -557px;
      margin-bottom: 406px;
      margin-left: 51px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 13px;
      padding-right: 13px;
    }
  
    .u-section-1 .u-image-2 {
      width: 230px;
      height: 287px;
      margin-top: -286px;
    }
  
    .u-section-1 .u-image-3 {
      width: 225px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-image-1 {
      width: 401px;
      height: 291px;
      margin-top: 202px;
    }
  
    .u-section-1 .u-shape-1 {
      width: 284px;
      height: 608px;
      margin-top: -472px;
      margin-left: 38px;
    }
  
    .u-section-1 .u-group-1 {
      width: 502px;
      margin: -608px 0 457px auto;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 9px;
      padding-right: 9px;
    }
  
    .u-section-1 .u-image-2 {
      width: 172px;
      height: 332px;
      margin-top: -331px;
    }
  
    .u-section-1 .u-image-3 {
      object-position: 4.43% 0%;
      background-position: 4.43% 0%;
      width: 211px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 781px;
    }
  
    .u-section-1 .u-image-1 {
      height: 356px;
      margin-top: 175px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-1 .u-shape-1 {
      width: 256px;
      height: 302px;
      margin-top: -72px;
      margin-left: 24px;
    }
  
    .u-section-1 .u-group-1 {
      min-height: 152px;
      margin-top: -736px;
      margin-bottom: 605px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 6px;
      padding-right: 6px;
    }
  
    .u-section-1 .u-text-1 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
    .u-section-1 .u-image-2 {
      width: 144px;
    }
  
    .u-section-1 .u-image-3 {
      object-position: 52.16% 0%;
      background-position: 52.16% 0%;
      width: 177px;
    }
  } .u-section-2 {
    background-image: none;
  }
  
  .u-section-2 .u-sheet-1 {
    
    height: 610px;
  }
  
  .u-section-2 .u-image-1 {
    
    width: 550px;
    height: 400px;
    object-position: 50% 0%;
    background-position: 50% 0%;
    margin: -100px auto 0 0;
  }
  
  .u-section-2 .u-image-2 {
    width: 424px;
    height: 587px;
    margin-left: 100px;
    margin: -400px 101px 0 auto;
  }
  
  .u-section-2 .u-group-1 {
    height: 300px;
    width: 470px;
    min-height: 70px;
    margin: -150px auto 64px 0;
  }
  
  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
  }
  
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 20px;
    position: relative;
    font-weight: 400;
  }
  
  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 20px;
    position: relative;
    font-style: italic;
    margin-bottom: 0;
  }
  
  .u-section-2 .u-text-3 {
    margin: 20px 80px 22px 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
      min-height: 300px;
    }
  
    .u-section-2 .u-image-1 {
      width: 421px;
      height: 616px;
      margin-top: -466px;
    }
  
    .u-section-2 .u-image-2 {
      width: 337px;
      height: 532px;
      margin-top: -326px;
      margin-right: 96px;
    }
  
    .u-section-2 .u-group-1 {
      width: 507px;
      margin-bottom: 107px;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-left: 16px;
    }
  
    .u-section-2 .u-text-1 {
      margin-right: 16px;
      font-weight: 300;
    }
  
    .u-section-2 .u-text-2 {
      margin-right: 16px;
    }
  
    .u-section-2 .u-text-3 {
      margin-right: 66px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
      min-height: 300px;
    }
  
    .u-section-2 .u-image-1 {
      width: 352px;
      height: 458px;
      margin-top: -365px;
    }
  
    .u-section-2 .u-image-2 {
      width: 299px;
      height: 364px;
      margin-top: -230px;
      margin-right: 20px;
    }
  
    .u-section-2 .u-group-1 {
      width: 401px;
      margin-top: -114px;
      margin-bottom: 34px;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-left: 13px;
    }
  
    .u-section-2 .u-text-1 {
      margin-right: 13px;
    }
  
    .u-section-2 .u-text-2 {
      margin-right: 13px;
    }
  
    .u-section-2 .u-text-3 {
      margin-right: 51px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
      min-height: 479px;
    }
  
    .u-section-2 .u-image-1 {
      width: 293px;
      height: 486px;
      margin-top: -336px;
    }
  
    .u-section-2 .u-image-2 {
      width: 227px;
      height: 317px;
      margin-top: -199px;
      margin-right: 0;
    }
  
    .u-section-2 .u-group-1 {
      width: 293px;
      min-height: 150px;
      
      margin-bottom: 33px;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-left: 9px;
    }
  
    .u-section-2 .u-text-1 {
      margin-right: 9px;
    }
  
    .u-section-2 .u-text-2 {
      margin-right: 9px;
    }
  
    .u-section-2 .u-text-3 {
      margin-right: 38px;
      margin-bottom: 5px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
      min-height: 300px;
    }
  
    .u-section-2 .u-image-1 {
      width: 250px;
      height: 389px;
      object-position: 51.68% 0%;
      background-position: 51.68% 0%;
      margin-top: -287px;
    }
  
    .u-section-2 .u-image-2 {
      width: 209px;
      height: 272px;
      margin-top: -129px;
    }
  
    .u-section-2 .u-group-1 {
      min-height: 263px;
      margin-top: 0;
      margin-bottom: 55px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-left: 6px;
    }
  
    .u-section-2 .u-text-1 {
      margin-right: 6px;
    }
  
    .u-section-2 .u-text-2 {
      margin-right: 6px;
    }
  
    .u-section-2 .u-text-3 {
      margin-right: 24px;
      margin-bottom: 22px;
    }
  }.u-section-3 .u-sheet-1 {
    min-height: 796px;
  }
  
  .u-section-3 .u-shape-1 {
    width: 390px;
    background-image: none;
    left: auto;
    right: 0;
  }
  
  .u-section-3 .u-layout-wrap-1 {
    margin: 103px auto 59px 0;
  }
  
  .u-section-3 .u-layout-cell-1 {
    background-image: none;
    min-height: 305px;
  }
  
  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    position: relative;
  }
  
  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    position: relative;
    font-weight: 400;
  }
  
  .u-section-3 .u-text-3 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }
  
  .u-section-3 .u-text-4 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  
  .u-section-3 .u-layout-cell-2 {
    min-height: 359px;
  }
  
  .u-section-3 .u-shape-2 {
    width: 293px;
    height: 298px;
    margin: 0 auto 0 0;
  }
  
  .u-section-3 .u-image-1 {
    width: 285px;
    height: 288px;
    margin-top: -256px;
    margin-right: auto;
    margin-left: 42px;
  }
  
  .u-section-3 .u-layout-cell-3 {
    min-height: 664px;
    background-image: none;
  }
  
  .u-section-3 .u-image-2 {
    width: 453px;
    left: 0;
    right: auto;
  }
  
  @media (max-width: 1199px) {
    .u-section-3 .u-sheet-1 {
      min-height: 400px;
    }
  
    .u-section-3 .u-shape-1 {
      width: 322px;
    }
  
    .u-section-3 .u-layout-wrap-1 {
      margin-top: 53px;
      margin-bottom: 53px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-3 .u-layout-cell-1 {
      min-height: 347px;
    }
  
    .u-section-3 .u-container-layout-1 {
      padding-left: 16px;
      padding-right: 16px;
    }
  
    .u-section-3 .u-text-1 {
      font-weight: 400;
    }
  
    .u-section-3 .u-text-4 {
      margin-bottom: 20px;
    }
  
    .u-section-3 .u-shape-2 {
      width: 242px;
    }
  
    .u-section-3 .u-image-1 {
      width: 235px;
      margin-left: 35px;
    }
  
    .u-section-3 .u-layout-cell-3 {
      min-height: 706px;
    }
  
    .u-section-3 .u-image-2 {
      width: 370px;
      height: 580px;
      left: auto;
      bottom: auto;
      right: auto;
      top: auto;
      margin: 0 auto 70px 0;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-3 .u-sheet-1 {
      min-height: 874px;
    }
  
    .u-section-3 .u-shape-1 {
      width: 304px;
    }
  
    .u-section-3 .u-layout-cell-1 {
      min-height: 440px;
    }
  
    .u-section-3 .u-container-layout-1 {
      padding-left: 13px;
      padding-right: 13px;
    }
  
    .u-section-3 .u-shape-2 {
      width: 274px;
    }
  
    .u-section-3 .u-image-1 {
      width: 292px;
      margin-bottom: 0;
      margin-left: 27px;
    }
  
    .u-section-3 .u-layout-cell-3 {
      min-height: 799px;
    }
  
    .u-section-3 .u-image-2 {
      width: 304px;
      height: 526px;
      margin-bottom: 75px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-3 .u-sheet-1 {
      min-height: 1262px;
    }
  
    .u-section-3 .u-shape-1 {
      height: 402px;
      margin-top: 860px;
      margin-bottom: 0;
      width: auto;
      left: auto;
      bottom: auto;
      right: auto;
      top: auto;
    }
  
    .u-section-3 .u-layout-wrap-1 {
      margin-top: -1209px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-3 .u-layout-cell-1 {
      min-height: 322px;
    }
  
    .u-section-3 .u-container-layout-1 {
      padding-left: 9px;
      padding-right: 9px;
    }
  
    .u-section-3 .u-shape-2 {
      width: 398px;
    }
  
    .u-section-3 .u-image-1 {
      width: 407px;
      margin-left: 31px;
    }
  
    .u-section-3 .u-layout-cell-3 {
      min-height: 506px;
    }
  
    .u-section-3 .u-image-2 {
      width: 438px;
      height: 435px;
      margin-bottom: 41px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-3 .u-sheet-1 {
      min-height: 1380px;
    }
  
    .u-section-3 .u-shape-1 {
      height: 458px;
      margin-top: 923px;
      width: auto;
    }
  
    .u-section-3 .u-layout-wrap-1 {
      margin-top: -1327px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-3 .u-layout-cell-1 {
      min-height: 440px;
    }
  
    .u-section-3 .u-container-layout-1 {
      padding-left: 6px;
      padding-right: 6px;
    }
  
    .u-section-3 .u-shape-2 {
      width: 275px;
    }
  
    .u-section-3 .u-image-1 {
      width: 309px;
      margin-right: 0;
      margin-left: auto;
    }
  
    .u-section-3 .u-image-2 {
      width: 320px;
      height: 423px;
      margin-bottom: 50px;
    }
  } .u-section-4 {
    background-image: none;
  }
  
  .u-section-4 .u-sheet-1 {
    min-height: 678px;
    margin: 0 auto;
  }
  
  .u-section-4 .u-group-1 {
    width: 854px;
    min-height: 95px;
    margin: 40px auto 0;
  }
  
  .u-section-4 .u-text-1 {
    position: relative;
    font-weight: 400;
    margin: 10px 20px;
  }
  
  .u-section-4 .u-layout-wrap-1 {
    width: 1140px;
    margin: 46px auto 0 0;
  }
  
  .u-section-4 .u-layout-cell-1 {
    min-height: 355px;
    background-image: none;
  }
  
  .u-section-4 .u-image-1 {
    height: 67px;
    margin: 0 auto 40px 0;
  }
  
  .u-section-4 .u-text-2 {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    font-weight: 400;
  }
  
  .u-section-4 .u-text-3 {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    font-style: italic;
  }
  
  .u-section-4 .u-layout-cell-2 {
    background-image: none;
    min-height: 355px;
  }
  
  .u-section-4 .u-image-2 {
    height: 67px;
    margin: 0 auto 40px 0;
  }
  
  .u-section-4 .u-text-4 {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    font-weight: 400;
  }
  
  .u-section-4 .u-text-5 {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    font-style: italic;
  }
  
  .u-section-4 .u-layout-cell-3 {
    background-image: none;
    min-height: 355px;
  }
  
  .u-section-4 .u-image-3 {
    height: 67px;
    margin: 0 auto 40px 0;
  }
  
  .u-section-4 .u-text-6 {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    font-weight: 400;
  }
  
  .u-section-4 .u-text-7 {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    font-style: italic;
  }
  
  .u-section-4 .u-btn-1 {
    margin: 46px auto 70px;
  }
  
  .u-section-4 .u-image-4 {
    width: 268px;
    height: 225px;
    object-position: 50% 5.72%;
    background-position: 50% 5.72%;
    margin: -225px 0 0 auto;
  }
  
  @media (max-width: 1199px) {
    .u-section-4 .u-group-1 {
      width: 704px;
      margin-top: 46px;
      margin-left: 118px;
    }
  
    .u-section-4 .u-text-1 {
      margin-left: 16px;
      margin-right: 16px;
    }
  
    .u-section-4 .u-layout-wrap-1 {
      margin-top: 40px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-4 .u-image-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-4 .u-text-2 {
      margin-left: 16px;
      margin-right: 16px;
    }
  
    .u-section-4 .u-text-3 {
      margin-left: 16px;
      margin-right: 16px;
    }
  
    .u-section-4 .u-image-2 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-4 .u-text-4 {
      margin-left: 16px;
      margin-right: 16px;
    }
  
    .u-section-4 .u-text-5 {
      margin-left: 16px;
      margin-right: 16px;
    }
  
    .u-section-4 .u-image-3 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-4 .u-text-6 {
      margin-left: 16px;
      margin-right: 16px;
    }
  
    .u-section-4 .u-text-7 {
      margin-left: 16px;
      margin-right: 16px;
    }
  
    .u-section-4 .u-btn-1 {
      margin-top: 59px;
    }
  
    .u-section-4 .u-image-4 {
      width: 221px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-4 .u-sheet-1 {
      min-height: 702px;
    }
  
    .u-section-4 .u-group-1 {
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-4 .u-text-1 {
      margin-left: 13px;
      margin-right: 13px;
    }
  
    .u-section-4 .u-text-2 {
      margin-left: 13px;
      margin-right: 13px;
    }
  
    .u-section-4 .u-text-3 {
      margin-left: 13px;
      margin-right: 13px;
    }
  
    .u-section-4 .u-text-4 {
      margin-left: 13px;
      margin-right: 13px;
    }
  
    .u-section-4 .u-text-5 {
      margin-left: 13px;
      margin-right: 13px;
    }
  
    .u-section-4 .u-text-6 {
      margin-left: 13px;
      margin-right: 13px;
    }
  
    .u-section-4 .u-text-7 {
      margin-left: 13px;
      margin-right: 13px;
    }
  
    .u-section-4 .u-btn-1 {
      margin-top: 42px;
      margin-bottom: 46px;
    }
  
    .u-section-4 .u-image-4 {
      width: 169px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-4 .u-sheet-1 {
      min-height: 1301px;
    }
  
    .u-section-4 .u-text-1 {
      margin-left: 9px;
      margin-right: 9px;
    }
  
    .u-section-4 .u-text-2 {
      margin-left: 9px;
      margin-right: 9px;
    }
  
    .u-section-4 .u-text-3 {
      margin-left: 9px;
      margin-right: 9px;
    }
  
    .u-section-4 .u-text-4 {
      margin-left: 9px;
      margin-right: 9px;
    }
  
    .u-section-4 .u-text-5 {
      margin-left: 9px;
      margin-right: 9px;
    }
  
    .u-section-4 .u-text-6 {
      margin-left: 9px;
      margin-right: 9px;
    }
  
    .u-section-4 .u-text-7 {
      margin-left: 9px;
      margin-right: 9px;
    }
  
    .u-section-4 .u-btn-1 {
      margin-top: 46px;
      margin-bottom: 0;
      margin-left: 230px;
    }
  
    .u-section-4 .u-image-4 {
      width: 159px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-4 .u-sheet-1 {
      min-height: 1392px;
    }
  
    .u-section-4 .u-text-1 {
      margin-left: 6px;
      margin-right: 6px;
    }
  
    .u-section-4 .u-text-2 {
      margin-left: 6px;
      margin-right: 6px;
    }
  
    .u-section-4 .u-text-3 {
      margin-left: 6px;
      margin-right: 6px;
    }
  
    .u-section-4 .u-text-4 {
      margin-left: 6px;
      margin-right: 6px;
    }
  
    .u-section-4 .u-text-5 {
      margin-left: 6px;
      margin-right: 6px;
    }
  
    .u-section-4 .u-text-6 {
      margin-left: 6px;
      margin-right: 6px;
    }
  
    .u-section-4 .u-text-7 {
      margin-left: 6px;
      margin-right: 6px;
    }
  
    .u-section-4 .u-btn-1 {
      margin-top: 50px;
      margin-left: auto;
      margin-bottom: 76px;
    }
  
    .u-section-4 .u-image-4 {
      width: 133px;
    }

  /* icon */
  } .u-section-5 {
    background-image:  linear-gradient(0deg, rgba(255, 255, 255, 0.29), rgba(255, 255, 255, 0.276)),url("Assets/homephoto/images/Planning your studies.jpg");
    background-position: 50% 50%;
  }
  
  .u-section-5 .u-sheet-1 {
    min-height: 602px;
  }
  
  .u-section-5 .u-image-1 {
    width: 377px;
    height: 377px;
    background-image: url("Assets/homephoto/images/costume.png");
    background-position: 50% 50%;
    margin: 40px auto 0;
  }
  
  .u-section-5 .u-group-1 {
    min-height: 127px;
    width: 825px;
    margin: 18px auto 40px;
  }
  
  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }
  
  .u-section-5 .u-text-1 {
    font-weight: 700;
    margin: 15px 60px 0;
  }
  
  .u-section-5 .u-text-2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 15px 60px;
  }
  
  @media (max-width: 1199px) {
    .u-section-5 .u-sheet-1 {
      min-height: 601px;
    }
  
    .u-section-5 .u-image-1 {
      width: 311px;
      height: 311px;
      margin-top: 85px;
    }
  
    .u-section-5 .u-group-1 {
      width: 680px;
      margin-right: 130px;
      margin-bottom: 0;
      margin-left: 130px;
    }
  
    .u-section-5 .u-text-1 {
      margin-left: 49px;
      margin-right: 49px;
    }
  
    .u-section-5 .u-text-2 {
      font-size: 0.875rem;
      margin-left: 49px;
      margin-right: 49px;
      letter-spacing: normal;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-5 .u-sheet-1 {
      min-height: 562px;
    }
  
    .u-section-5 .u-image-1 {
      width: 238px;
      height: 238px;
      margin-top: 95px;
    }
  
    .u-section-5 .u-group-1 {
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-5 .u-text-1 {
      margin-left: 38px;
      margin-right: 38px;
    }
  
    .u-section-5 .u-text-2 {
      margin-left: 38px;
      margin-right: 38px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-5 .u-sheet-1 {
      min-height: 501px;
    }
  
    .u-section-5 .u-image-1 {
      width: 223px;
      height: 223px;
      margin-top: 77px;
    }
  
    .u-section-5 .u-group-1 {
      margin-bottom: 25px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-5 .u-text-1 {
      margin-left: 28px;
      margin-right: 28px;
    }
  
    .u-section-5 .u-text-2 {
      margin-left: 28px;
      margin-right: 28px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-5 .u-sheet-1 {
      min-height: 452px;
    }
  
    .u-section-5 .u-image-1 {
      width: 187px;
      height: 187px;
      margin-top: 60px;
    }
  
    .u-section-5 .u-group-1 {
      margin-bottom: 0;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-5 .u-text-1 {
      margin-left: 18px;
      margin-right: 18px;
      font-weight: 400;
    }
  
    .u-section-5 .u-text-2 {
      margin-left: 18px;
      margin-right: 18px;
    }
  } .u-section-6 {
    margin-top: 50px;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.687), rgba(255, 255, 255, 0.803)),url("Assets/homephoto/images/promo_small_4dc9321b-f608-4196-9fb7-02f6c0029a5f.jpg");
    background-position: 50% 50%;
  }
  
  .u-section-6 .u-sheet-1 {
    min-height: 411px;
  }
  
  .u-section-6 .u-group-1 {
    width: 1041px;
    min-height: 226px;
    margin: 92px auto;
  }
  
  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .u-section-6 .u-text-1 {
    color: black;
    font-size: 2.3rem;
    font-style: italic;
    margin: 23px 0 0;
  }
  
  .u-section-6 .u-text-2 {
    position: relative;
    letter-spacing: 2px;
    margin: 25px 0 23px;
  }
  
  @media (max-width: 1199px) {
    .u-section-6 .u-sheet-1 {
      min-height: 400px;
    }
  
    .u-section-6 .u-group-1 {
      width: 858px;
    }
  
    .u-section-6 .u-container-layout-1 {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-6 .u-sheet-1 {
      min-height: 474px;
    }
  
    .u-section-6 .u-group-1 {
      min-height: 289px;
      margin-bottom: 45px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-6 .u-container-layout-1 {
      padding-left: 13px;
      padding-right: 13px;
    }
  
    .u-section-6 .u-text-1 {
      margin-top: 30px;
    }
  
    .u-section-6 .u-text-2 {
      margin-bottom: 30px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-6 .u-sheet-1 {
      min-height: 400px;
    }
  
    .u-section-6 .u-group-1 {
      min-height: 226px;
      margin-bottom: 92px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-6 .u-container-layout-1 {
      padding-left: 9px;
      padding-right: 9px;
    }
  
    .u-section-6 .u-text-1 {
      margin-top: 23px;
    }
  
    .u-section-6 .u-text-2 {
      margin-bottom: 23px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-6 .u-container-layout-1 {
      padding-left: 6px;
      padding-right: 6px;
    }
  
    .u-section-6 .u-text-1 {
      font-size: 1.5rem;
      font-style: bold;
    }
  } .u-section-7 {
    background-image: none;
  }
  
  .u-section-7 .u-sheet-1 {
    min-height: 1569px;
    margin: 0 auto;
  }
  
  .u-section-7 .u-group-1 {
    width: 854px;
    min-height: 95px;
    margin: 54px auto 0;
  }
  
  .u-section-7 .u-text-1 {
    position: relative;
    font-style: bold;
    margin: 10px 20px;
  }
  
  .u-section-7 .u-layout-wrap-1 {
    width: 1140px;
    margin: 54px auto 0 0;
  }
  
  .u-section-7 .u-image-1 {
    background-image: url("Assets/homephoto/images/download (1).jpeg");
    min-height: 444px;
    background-position: 50% 50%;
  }
  
  .u-section-7 .u-image-2 {
    background-image: url("Assets/homephoto/images/download (1).jpeg");
    min-height: 444px;
    background-position: 50% 50%;
  }
  
  .u-section-7 .u-image-3 {
    min-height: 405px;
    background-image: url("Assets/homephoto/images/download (1).jpeg");
    background-position: 50% 100%;
  }
  
  .u-section-7 .u-layout-cell-4 {
    min-height: 405px;
    background-image: none;
  }
  
  .u-section-7 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .u-section-7 .u-text-2 {
    position: relative;
    font-style: italic;
    font-size: 1.125rem;
    margin: 113px 0 0;
  }
  
  .u-section-7 .u-image-4 {
    min-height: 405px;
    background-image: url("Assets/homephoto/images/download (1).jpeg");
    background-position: 50% 50%;
  }
  
  .u-section-7 .u-image-5 {
    min-height: 358px;
    background-image: url("Assets/homephoto/images/download (1).jpeg");
    background-position: 50% 44.87%;
  }
  
  .u-section-7 .u-image-6 {
    min-height: 358px;
    background-image: url("Assets/homephoto/images/download (1).jpeg");
    background-position: 50% 50%;
  }
  
  .u-section-7 .u-btn-1 {
    margin: 54px auto 96px;
  }
  
  @media (max-width: 1199px) {
    .u-section-7 .u-sheet-1 {
      min-height: 1621px;
    }
  
    .u-section-7 .u-group-1 {
      width: 704px;
      margin-top: 86px;
    }
  
    .u-section-7 .u-text-1 {
      margin-left: 16px;
      margin-right: 16px;
    }
  
    .u-section-7 .u-layout-wrap-1 {
      margin-top: 74px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-7 .u-image-1 {
      min-height: 355px;
    }
  
    .u-section-7 .u-layout-cell-4 {
      min-height: 355px;
    }
  
    .u-section-7 .u-container-layout-5 {
      padding-left: 16px;
      padding-right: 16px;
    }
  
    .u-section-7 .u-text-2 {
      font-size: 1rem;
    }
  
    .u-section-7 .u-btn-1 {
      margin-top: 64px;
      margin-bottom: 86px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-7 .u-sheet-1 {
      min-height: 2037px;
    }
  
    .u-section-7 .u-group-1 {
      min-height: 106px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-7 .u-text-1 {
      margin-left: 13px;
      margin-right: 13px;
    }
  
    .u-section-7 .u-container-layout-5 {
      padding-left: 13px;
      padding-right: 13px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-7 .u-sheet-1 {
      min-height: 3106px;
    }
  
    .u-section-7 .u-group-1 {
      min-height: 95px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-7 .u-text-1 {
      margin-left: 9px;
      margin-right: 9px;
    }
  
    .u-section-7 .u-container-layout-5 {
      padding-left: 9px;
      padding-right: 9px;
    }
  
    .u-section-7 .u-btn-1 {
      margin-top: 65px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-7 .u-sheet-1 {
      min-height: 3148px;
    }
  
    .u-section-7 .u-group-1 {
      min-height: 190px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-7 .u-text-1 {
      margin: 20px 6px;
    }
  
    .u-section-7 .u-layout-wrap-1 {
      margin-top: 33px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-7 .u-container-layout-5 {
      padding-left: 6px;
      padding-right: 6px;
    }
  
    .u-section-7 .u-btn-1 {
      margin-top: 64px;
    }
  } .u-section-8 {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.29), rgba(255, 255, 255, 0.276)),url("Assets/homephoto/images/Investment.jpeg");
    background-position: 46.54% 100%;
  }
  
  .u-section-8 .u-sheet-1 {
    min-height: 530px;
  }
  
  .u-section-8 .u-group-1 {
    width: 1041px;
    min-height: 212px;
    margin: 20px auto 45px;
  }
  
  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
    font-style: italic;
    margin: 20px 0 0;
    color: white;
  }
  
  .u-section-8 .u-text-2 {
    position: relative;
    letter-spacing: 2px;
    margin: 25px 0 20px;
    color: white;
  }
  
  @media (max-width: 1199px) {
     .u-section-8 {
      background-position: 50% 50%;
    }
  
    .u-section-8 .u-sheet-1 {
      min-height: 400px;
    }
  
    .u-section-8 .u-group-1 {
      width: 858px;
    }
  
    .u-section-8 .u-container-layout-1 {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-8 .u-sheet-1 {
      min-height: 452px;
    }
  
    .u-section-8 .u-group-1 {
      min-height: 234px;
      margin-top: 0;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-8 .u-container-layout-1 {
      padding-left: 13px;
      padding-right: 13px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-8 .u-container-layout-1 {
      padding-left: 9px;
      padding-right: 9px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-8 .u-sheet-1 {
      min-height: 505px;
    }
  
    .u-section-8 .u-container-layout-1 {
      padding-left: 6px;
      padding-right: 6px;
    }
  
    .u-section-8 .u-text-1 {
      font-size: 1.5rem;
    }
  }