.login-div {
  position: absolute;
  top:10px;
  right: 30px;
}

  body {
    font-size: 100%;
    font-family: 'PT Sans', sans-serif;
    line-height: 1.5;
    background:#808080;
    color: rgba(255,255,255,0.7);
    margin: 0;
    padding-bottom: 200px;
  }
  body h1,
  body h2,
  body h3,
  body h4,
  body h5 {
    color: #fff;
    font-family: 'Lora';
  }
  body h1 {
    font-size: 90px;
    line-height: 1.1;
    margin: 0px;
  }
  @media screen and (max-width: 40em) {
    body h1 {
      font-size: 50px;
      line-height: 1.25;
    }
  }
  body h2 {
    font-size: 40px;
    line-height: 1.3;
  }
  @media screen and (max-width: 40em) {
    body h2 {
      font-size: 28px;
      line-height: 1.4;
    }
  }
  body h4 {
    font-size: 24px;
    margin-bottom: 0.3em;
  }
  body p {
    font-size: large;
    font-weight: 600;
    line-height: 1.5;
  }
  .container {
    width: 100%;
    padding-top: 130px;
    margin-left: auto;
    margin-right: auto;
    transition: opacity 0.5s 1s;
  }
  .container .out {
    opacity: 0;
  }
  .container > h1,
  .container > h2,
  .container > p {
    position: relative;
    z-index: 2;
    width: 80%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  section {
      height:100vh;
  }

  section > h1,
  section > h2,
  section > p {
    position: relative;
    z-index: 2;
    width: 80%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  